*
{
    padding: 0;

    margin:0;
    box-sizing: border-box;
}
:root
{
    --primary-text-color:#212121;
    --secondry-text-color:#757575;
    --accent-color:#2196f3;
    --dark-background-color:#2f303A;
    --light-background-color:#f5f4fA;
}
body
{
    font-family: 'Roboto';
   font-style: normal;
}

.container
{
    max-width: 1200px;


    padding-left: 15px;

    padding-right: 15px;

    margin: 0 auto;

}



a
{
    text-decoration: none;

}
a:hover,a:focus
{
    color: var(--accent-color);
   
    
}
a:active
{
    color: var(--accent-color);
}


img
{
    max-width: 100%;
    height: auto;
    display: block;
}



ul
{
    list-style:none;
}

/*HEADER*/

.header
{
border-bottom: 1px solid #ECECEC;
}

.header-container
{
    display: flex;

    align-items: center;
}


.header-logo
{
    font-family: 'Raleway';

font-style: normal;

font-weight: 700;

font-size: 26px;

margin-right: 97px;

line-height: calc(31/26);

letter-spacing: 0.03em;

color:var(--accent-color);






}

.nav-list
{
    
    color: var(--light-background-color);

    display: flex;
   
   
    
}

.nav-item:not(:last-child)
{
    margin-right: 53px;
}
.nav-link
{
font-weight: 500;

font-size: 14px;

padding: 32px 0;

display: block;

line-height: calc(16/14);

letter-spacing: 0.02em;

color: var(--primary-text-color);



}

.nav-link:hover,.nav-link:focus


{
    color: var(--accent-color);
}

.nav-link-current

{
    color: var(--accent-color);
    
}

.contact-list
{
    display: flex;
    margin-left: auto;
}

.contact-item:not(last-child)
{
margin-right: 50px;
}

.contact-links
{
    font-weight: 500;

    font-size: 14px;

    line-height: calc(16/14);

    letter-spacing: 0.02em;

    color: var(--secondry-text-color);


    padding: 32px 0;

    display: block;

  
    
}


/*Main*/
.hero-section
{
    
background:var(--dark-background-color);
width: auto;
height: 600px;

display: flex;





}
.hero-title
{
    font-weight: 900;
    
font-size: 44px;

line-height: calc(60/44);

align-items: center;

margin-top: 200px;

text-align: center;

letter-spacing: 0.06em;

text-transform: uppercase;

color: white;

margin-bottom: 30px;

}
.hero-button
{
   
    font-family: 'Roboto';

background-color:var(--accent-color);


display: flex;

text-align: center;

padding-top: 10px;

padding-left: 28px;

margin-left: 200px;



height: 50px;

width: 200px;

border: none;

cursor: pointer;

font-weight: 700;

font-size: 16px;

line-height: calc(30/16);

color: var(--light-background-color);




}
.hero-button:hover,
.hero-button:focus
{
    color: orange;

    background-color: red;
}


.hero-text
{
font-weight: 700;

font-size: 16px;

line-height:calc(30/16);


display: flex;

align-items: center;

text-align: center;

letter-spacing: 0.06em;


color: var(--light-background-color);
}
/*FEATURES SECTIONS */



.feature-section
{
   padding-top: 94px;

   padding-bottom: 94px;

  
}

.feature-list
{
    display: flex;

}

.feature-Call
{

    font-family: 'Roboto';

    font-style: normal;

font-weight: 700;

font-size: 20px;

line-height:calc(16/14);

text-align: center;

padding-bottom: 100px;

text-transform: uppercase;


}

.feature-title
{
    font-weight: 700;

    font-size: 14px;

    line-height:calc(16/14);

    letter-spacing: 0.03em;

  
    text-transform: uppercase;
    

    margin-bottom: 9px;


    
    color:var(--primary-text-color);
}



.feature-text

{


    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;

    

}


.feature-item
{
    font-weight: 400;

    font-size: 14px;

    line-height: calc(24/14);

    letter-spacing: 0.03em;

    width: 270px;

    color:var(--secondry-text-color);
}

.feature-item:not(lastchild)
{
    margin-right: 30px;
}

.what-section
{
   
text-align: center;

margin-top: 289px;


}

.what-list
{
    display: flex;
   
    padding: 50px;

    text-align: center;
}

.what-title
{
font-weight: 700;

font-size: 36px;

line-height:calc(42/36);



letter-spacing: 0.03em;

margin-bottom: 50px;

display: flex;




display:inline

var(--accent-color);
}

.what-item:first-child
{
    margin-left: 215px;
}

.what-item:not(lastchid)

{
    margin-left: 30px;
}


.team-list
{
    display: flex;

}

.team-section
{
    background-color: var(--light-background-color);

    margin-top: 94px;

    margin-bottom: 94px;


    width: 1600px;



    height: 648px;

    align-items: center;





   

}

.team-title
{
    text-align: center;

    padding-top: 50px;
   

}

.team-item 

{
    margin-left: 30px;

    justify-content: space-evenly;

    background-color: #ffffff;

    margin-top: 150px;
}

.team-item:first-child
{
    margin-left: 150px;
}

.team-title
{
    font-weight: 700;

    font-size: 36px;

   
   

   
    line-height: calc(42/36);
    
  

    letter-spacing: 0.03em;

    color: var(--primary-text-color);

}
.team-name
{
font-weight: 500;

font-size: 16px;

line-height:calc(19/16);


text-align: center;

letter-spacing: 0.03em;

color:var(--primary-text-color);
}
.team-job
{
    font-weight: 400;

font-size: 16px;

line-height: calc(19/16);


text-align: center;

letter-spacing: 0.03em;

color: var(--secondry-text-color);
}

/*PROTFOLIO*/

.button-section
{
    display: flex;

    padding-bottom:56px; 
}




.all-section
{
    color: var(--light-background-color);
}

.project-title
{
    display: flex;

    text-align: center;

    justify-content: center;

    margin-bottom: 15px;
}


.button-list
{

    font-family: 'Roboto';

   color: var(--light-background-color);

    border-radius: 4px;

   display: flex;

   justify-content: center;



   padding-left: 8px;


    font-weight: 500;

    font-size: 16px;

line-height: calc(26/16);



}



.all-button
{
    font-family: 'Roboto';

   color: var(--primary-text-color);

   border-radius: 4px;

   margin-left: 8px;

   font-weight: 500;

   font-size: 16px;

line-height: calc(26/16);

border: none;

width: 103px;

height: 38px;

cursor: pointer;

}

.all-button:hover,
.all-button:focus
{
    background-color: var(--accent-color);

    
    color:white;

}


.all-button-current 

{
    color: var(--accent-color);
}

.all-text
{
    font-weight: 500;

font-size: 16px;


line-height: calc(26/16);


text-align: center;

letter-spacing: 0.03em;

color: var(--primary-text-color);
}

.project-list
{
    display: flex;

    flex-wrap: wrap;

    margin-top: 34px;


}


.project-item
{
    padding-left: 30px;

    padding-right: 30px;
}

.project-name
{
font-weight: 700;

font-size: 18px;

line-height: calc(36/18);


letter-spacing: 0.06em;

color:var(--primary-text-color);
}

.project-job
{
font-weight: 400;

font-size: 16px;

line-height: calc(30/16);

letter-spacing: 0.03em;

color: var(--secondry-text-color);

}


/*Footer*/
.footer
{

    width: auto;
    
    height: 252px;

    margin-top: 94px;

   


    background-color: var(--dark-background-color);
}

.container-footer

{

   
padding-top: 60px;






}

.footer-logo
{
font-family: 'Raleway';

font-style: normal;

font-weight: 700;

font-size: 26px;

line-height: calc(31/26);

margin-top: 60px;

letter-spacing: 0.03em;

color: var(--accent-color);
}

.address-contact
{
    font-style: normal;

    font-family: 'Roboto';

    font-style: normal;

   font-weight: 400;


   font-size: 14px;

   line-height: calc(24/14);

  
   display: flex;

}

.address-map
{

    font-family: 'Roboto';

    font-weight: 400;

    font-size: 14px;

    line-height: calc(24/14);
    
    letter-spacing: 0.03em;

    font-style: normal;

    color: white;

text-align: center;

}




.address-mailto
{

    font-family: 'Roboto';

    font-weight: 400;

font-size: 14px;
line-height:calc(24/14);




letter-spacing: 0.03em;

color: #ffffff;
opacity: 0.6;
}
.address-tel
{
    font-weight: 400;

font-size: 14px;


line-height:calc(24/14);


letter-spacing: 0.03em;

color: #ffffff;
opacity: 0.6;
}