*
{
    padding: 0;

    margin:0;
    box-sizing: border-box;
}
:root
{
    --primary-text-color:#212121;
    --secondry-text-color:#757575;
    --accent-color:#2196f3;
    --dark-background-color:#2f303A;
    --light-background-color:#f5f4fA;
}
body
{
    font-family: 'Roboto';
   font-style: normal;
}

.container
{
    max-width: 1200px;


    padding-left: 15px;

    padding-right: 15px;

    margin: 0 auto;

}



a
{
    text-decoration: none;

}
a:hover,a:focus
{
    color: var(--accent-color);
   
    
}
a:active
{
    color: var(--accent-color);
}


img
{
    max-width: 100%;
    height: auto;
    display: block;
}



ul
{
    list-style:none;
}

/*HEADER*/

.header
{
border-bottom: 1px solid #ECECEC;
}

.header-container
{
    display: flex;

    align-items: center;
}


.header-logo
{
    font-family: 'Raleway';

font-style: normal;

font-weight: 700;

font-size: 26px;

margin-right: 97px;

line-height: calc(31/26);

letter-spacing: 0.03em;

color:var(--accent-color);






}

.nav-list
{
    
    color: var(--light-background-color);

    display: flex;
   
   
    
}

.nav-item:not(:last-child)
{
    margin-right: 53px;
}
.nav-link
{
font-weight: 500;

font-size: 14px;

padding: 32px 0;

display: block;

line-height: calc(16/14);

letter-spacing: 0.02em;

color: var(--primary-text-color);



}

.nav-link:hover,.nav-link:focus


{
    color: var(--accent-color);
}

.nav-link-current

{
    color: var(--accent-color);
    
}

.contact-list
{
    display: flex;
    margin-left: auto;
}

.contact-item:not(last-child)
{
margin-right: 50px;
}

.contact-links
{
    font-weight: 500;

    font-size: 14px;

    line-height: calc(16/14);

    letter-spacing: 0.02em;

    color: var(--secondry-text-color);


    padding: 32px 0;

    display: block;

  
    
}


/*Main*/
.hero-section
{
    
background:var(--dark-background-color);
width: auto;
height: 600px;

display: flex;





}
.hero-title
{
    font-weight: 900;
    
font-size: 44px;

line-height: calc(60/44);

align-items: center;

margin-top: 200px;

text-align: center;

letter-spacing: 0.06em;

text-transform: uppercase;

color: white;

margin-bottom: 30px;

}
.hero-button
{
   
    font-family: 'Roboto';

background-color:var(--accent-color);


display: flex;

text-align: center;

padding-top: 10px;

padding-left: 28px;

margin-left: 200px;



height: 50px;

width: 200px;

border: none;

cursor: pointer;

font-weight: 700;

font-size: 16px;

line-height: calc(30/16);

color: var(--light-background-color);




}
.hero-button:hover,
.hero-button:focus
{
    color: orange;

    background-color: red;
}


.hero-text
{
font-weight: 700;

font-size: 16px;

line-height:calc(30/16);


display: flex;

align-items: center;

text-align: center;

letter-spacing: 0.06em;


color: var(--light-background-color);
}








.feature-section
{
 

   
}
.feature-Call
{

    font-family: 'Roboto';

    font-style: normal;

font-weight: 700;

font-size: 20px;

line-height:calc(16/14);



text-transform: uppercase;

text-align: center;

margin-bottom: 10px;




}

.feature-title
{
    font-weight: 700;

    font-size: 14px;

    line-height:calc(16/14);

    letter-spacing: 0.03em;

  
    text-transform: uppercase;

 
    
    color:var(--primary-text-color);
}


.feature-list
{
display: flex;
}

.feature-text
{
    align-content: center;

    text-align: center;

    margin: 90px;
}


.feature-item
{
    font-weight: 400;

    font-size: 14px;

   
  text-align: center;

    line-height: calc(24/14);

    letter-spacing: 0.03em;

    
    
    color:var(--secondry-text-color);
}

.what-section
{
   
text-align: center;


}

.what-list
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px;
}

.what-title
{
font-weight: 700;

font-size: 36px;

line-height:calc(42/36);

text-align: center;

letter-spacing: 0.03em;


display:inline

var(--accent-color);
}

.what-item:not(lastchid)

{
    margin-left: 30px;
}




.team-section
{
    background-color: var(--light-background-color);

    


display: inline;


    

}

.team-title
{
    text-align: center;
}

.team-item 
{
 
   
   justify-content: center;

align-items: center;

  

    background-color: #ffffff
}

.team-title
{
    font-weight: 700;

    font-size: 36px;

   
   

   
    line-height: calc(42/36);
    
  

    letter-spacing: 0.03em;

    color: var(--primary-text-color);

}
.team-name
{
font-weight: 500;

font-size: 16px;

line-height:calc(19/16);


text-align: center;

letter-spacing: 0.03em;

color:var(--primary-text-color);
}
.team-job
{
    font-weight: 400;

font-size: 16px;

line-height: calc(19/16);


text-align: center;

letter-spacing: 0.03em;

color: var(--secondry-text-color);
}

*/Portfolio-page*/

.all-section
{
    color: var(--light-background-color);
}

.button-list
{

    font-family: 'Roboto';

   color: var(--light-background-color);

    border-radius: 4px;

   

    font-weight: 500;

    font-size: 16px;

line-height: calc(26/16);

}



.all-button
{
    font-family: 'Roboto';

   color: var(--primary-text-color);

   border-radius: 4px;

   

   font-weight: 500;

   font-size: 16px;

line-height: calc(26/16);

border: none;

cursor: pointer;

}

.all-button:hover,
.all-button:focus
{
    background-color: var(--accent-color);
    color:white;

}


.all-button-current 

{
    color: var(--accent-color);
}

.all-text
{
    font-weight: 500;

font-size: 16px;


line-height: calc(26/16);


text-align: center;

letter-spacing: 0.03em;

color: var(--primary-text-color);
}

.project-name
{
font-weight: 700;

font-size: 18px;

line-height: calc(36/18);


letter-spacing: 0.06em;

color:var(--primary-text-color);
}

.project-job
{
font-weight: 400;

font-size: 16px;

line-height: calc(30/16);

letter-spacing: 0.03em;

color: var(--secondry-text-color);

}


/*Footer*/
.footer
{
    width: 1600px;
    height: 252px;

   


    background-color: var(--dark-background-color);
}

.container-footer

{

   
padding-top: 60px;
align-items: center;



}

.footer-logo
{
font-family: 'Raleway';

font-style: normal;

font-weight: 700;

font-size: 26px;

line-height: calc(31/26);

margin-top: 60px;

letter-spacing: 0.03em;

color: var(--accent-color);
}

.address-contact
{
    font-style: normal;

    font-family: 'Roboto';

    font-style: normal;

   font-weight: 400;


   font-size: 14px;

   line-height: calc(24/14);

  
   display: flex;

}

.address-map
{

    font-family: 'Roboto';

    font-weight: 400;

    font-size: 14px;

    line-height: calc(24/14);
    
    letter-spacing: 0.03em;

    font-style: normal;

    color: white;

text-align: center;

}




.address-mailto
{

    font-family: 'Roboto';

    font-weight: 400;

font-size: 14px;
line-height:calc(24/14);




letter-spacing: 0.03em;

color: #ffffff;
opacity: 0.6;
}
.address-tel
{
    font-weight: 400;

font-size: 14px;


line-height:calc(24/14);


letter-spacing: 0.03em;

color: #ffffff;
opacity: 0.6;
}